/* Write your code here. */
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
}
.main-heading {
  font-family: "Roboto";
  font-size: 32px;
  color: #0f172a;
  text-align: center;
}
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cffafe;
  background-size: cover;
  height: 50vh;
  width: 75vw;
  border-radius: 12px;
}
.heading {
  font-family: "Roboto";
  font-size: 24px;
  color: #1e293b;
}
.description {
  font-family: "Roboto";
  font-size: 16px;
  color: #1e293b;
  text-align: center;
}
.image {
  height: 70px;
  width: 70px;
}
